<% include ./partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1>Disclaimer</h1>
		<p>
			All images are off Google Images. If any of these are yours and you want it removed,
			please contact me @ RICKYCHEN10@GMAIL.COM.
		</p>
	</header>

<% include ./partials/footer %>
