<% include ./partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1>Disclaimer</h1>
		<p>
			This project's was purely for educational purposes.<br /><br />

			All images are off Google Images. If any of these are yours and you want it removed,
			please contact me @ RICKYCHEN10@GMAIL.COM.<br /><br />

			All exercise steps are from https://www.bodybuilding.com/exercises/*. If you want it removed, please contact me @ RICKYCHEN10@GMAIL.COM.
		</p>
	</header>

<% include ./partials/footer %>
