.thumbnail img{
	width:100%;
}

.container{
	margin-top: 4em;
}

#delete-form{
	display: inline;
}

#comment-delete-form{
	display: inline;
}

.dropdown-menu{
	right: 0; left: auto;
}

.mr-sm-2{
	width: 50vh !important;
}

.mainExImg:hover{
	opacity: .5;
}

#workoutNumForm{
	display: inline;
}

#inlineFormCustomSelect{
	width: 40%;
}
